/******************************************************************************
************************************INDEX.HTML*********************************
******************************************************************************/
body{
	font-family: "Times New Roman";
}
p{
	line-height: 1.3;
}
header img{
	width: 17%;
	height: auto;
	margin: 10px auto 10px auto;
	display: block;
}
header nav{
	text-align: center;
	background: linear-gradient(#F0F0F0 0%,#9D9D9D 70%, #9D9D9D 71%, #c0c0c0 100%);
	box-shadow: 5px 5px 10px black;
	border-radius: 10px;
	height: 40px;
	width: 100%;
	display: table;
	table-layout: fixed;
}
header nav	ul{
	display: table-row;
	margin-top: 10px;
}
header nav li{
	display: table-cell;
	color: #ffffff;
	font-weight: bold;
	font-size: 17px;
	vertical-align: middle;
}
nav li:last-child{
	padding-right: 0px;
	margin-right: 0px;
	border: none;
}
header a{
	text-decoration: none;
	color: #ffffff;
	transition: color 0.8s ease;
}
header a:link, header a:visited{
	color: #ffffff;
}
header a:hover, header a:active{
	color: #D7D6D8;
}



.contents{
	min-height: 700px;
	overflow: hidden;
}
.blog_tag{
	width: 50%;
	height: 200px;
	margin: 20px auto 0 0;
	overflow: hidden;
	float: left;
	transition: all 1s ease;
}
.blog_tag article{
	float: right;
	width: 50%;
	height: 200px;
	color: #fff;
	background-color: #CBCBCB;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
}
.blog_tag article h1{
	position: relative;
	top: 70px;
	transition: top 0.8s ease;
}
.blog_tag article p{
	position: relative;
	top: 200px;
	width: 80%;
	margin: 0 auto;
	transition: all 0.8s ease 0.1s;
}
.blog_tag:hover h1, .blog_tag:hover p{
	top: 0px;
}
.blog_tag:hover img{
 	width: 50%;
 }
 .blog_tag:hover article{
 	background-color: #D9D9D9;
 }
.blog_tag img{
	width: 45%;
	transition: all 0.8s ease;
}



footer{
	background-color: #9D9D9D;
	height: 250px;
	position: relative;
}
.quote{
	font-family: Georgia;
	font-weight: 20px;
	font-size: 20px;
	font-style: italic;
}
#main_page_quote{
	color: #F2F2F2;
	position: relative;
	top: 25px;
	margin: 0 auto 0 auto;
	padding-bottom: 25px;
	width: 65%;
	text-align: center;
	display: block;
}
#main_page_quote:before{
	content: '"';
	position: absolute;
	left: -15px;
	top: -25px;
	font-size: 60px;
}
#BW_logo{
	background-image: url(images/logo_BW.png);
	background-size: 200px auto; 
	height: 75px;
	width: 200px;
	display: block;
	text-indent: -9999px;
	margin: auto;
	position: absolute;
	right: 0; bottom: 30px; left: 0;
}
.legal{
	color: #D3D3D3;
	font-family: Arial;
	text-transform: uppercase;
	font-size: 13px;
/*declare width and height for absolute positioning block 
to be positioned in the center of parent division*/
	width: 380px;  
	height: 15px;
	position: absolute;
	right: 0; bottom: 10px; left: 0;
	margin: auto;
}

pre{
	width: 50%;
	margin: 20px auto;
}
/******************************************************************************
**********************************CONTACT.HTML*********************************
******************************************************************************/